<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.wuruoye.know">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".ui.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:networkSecurityConfig="@xml/network_config"
            android:theme="@style/AppTheme" tools:targetApi="n">
        <activity android:name=".ui.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.edit.RecordTypeEditActivity"/>
        <activity android:name=".ui.edit.TypeItemEditActivity"/>
        <activity android:name=".ui.edit.RecordEditActivity"/>
        <activity android:name=".ui.edit.RecordTagEditActivity"/>
        <activity android:name=".ui.setting.RecordTypeSetActivity"/>
        <activity android:name=".ui.setting.RecordTagSetActivity"/>
        <activity android:name=".ui.edit.ReviewStrategyEditActivity"/>
        <activity android:name=".ui.setting.ReviewStrategySetActivity"/>
        <activity android:name=".ui.setting.UserLoginActivity"/>
        <activity android:name=".ui.setting.UserInfoActivity"/>
        <activity android:name=".ui.edit.RecordShowActivity"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.wuruoye.know.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>